<a href="https://colab.research.google.com/github/ProjectToDesenv/PosGraduacao2021-algorithms-DSM4/blob/master/Tributacao_ICMS_RS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introdução, inclusão da Primeira Fase do CRISP-DM

Limpeza de dados

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#%matplotlib inline

sns.set()

data = pd.read_csv(r"C:\Repository\Data\Consolidado_mensal_5_anos.csv")
data.head()

   01/01/2016;35.113.515     74;20.379  32;35.093.136  42
0  01/02/2016;40.232.776    90;725.443  91;39.507.332  99
1  01/03/2016;57.406.348  95;1.394.981  35;56.011.367  60
2  01/04/2016;49.358.343     85;28.330  07;49.330.013  78
3  01/05/2016;64.403.168  94;1.400.326  15;63.002.842  79
4  01/06/2016;35.236.360     60;28.330  07;35.208.030  53